<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adding new employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h3 class="heading">Employee Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Employee</p>

    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}" method="POST">

        <input type="hidden" th:field="*{id}">
        <input id="firstName" type="text" th:field="*{firstName}"
               class="form-control mb-4 w-25" placeholder="First name">
        <input id="lastName" type="text" th:field="*{lastName}"
               class="form-control mb-4 w-25" placeholder="Last name">
        <input id="salary" type="text" th:field="*{salary}"
               class="form-control mb-4 w-25" placeholder="Salary"/>
        <input id="email" type="text" th:field="*{email}"
               class="form-control mb-4 w-25" placeholder="Email">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/employees/list}">Back to employees</a>
</div>

<style>
    .heading {
        margin-top: 10px;
    }
</style>
</body>
</html>